
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="\">Tempo</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" aria-current="page" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tickers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stocks">Edit</a>
          <a class="dropdown-item" href="/stockValues">Dividends</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/patterns">Active Patterns</a>
          <a class="dropdown-item" href="/stockTechnical">Technical analysis</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/portfolio">View/Edit</a>
          <a class="dropdown-item" href="/portfolioValues">Values</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/evaluateClosedPositions">Recalc closed operations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/openPositions">Open positions</a>
          <a class="dropdown-item" href="/history">Closed operations</a>
          
        </div>
              
      </li>
      
      
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Analyze
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/graph">Graph</a>         
           <a class="dropdown-item" href="/analyzeList">Select Data To Analyze</a>       
           <a class="dropdown-item" href="/analyzer">Analyze data</a>         
         </div>
              
      </li>
      
      
      
     

      <!--li class="nav-item">    <a class="nav-link disabled" href="#">Disabled</a>     </li-->
    </ul>
    
  </div>
  </div>
</nav>

 