<html>

<head>
  {% include "head.html" %}
  
   
</head>


<body>


 {% include "navbar.html" %}
 
 
 <h1>Stock Values</h1>
 {% if totalRend is defined  %}
  <table class="table">
     <tr>
        <th class="num"><h4>Total Yeld </h2></th>
        <th class="num"><h4>Media Yeld</h2></th>
        
        <th class="num"></th>
     </tr>
     <tr>          
      <td class="num "><h4>€ {{ totalRend}}</h4></td>
      <td class="num "><h4>{{ mediaRend}} %</h4></td>
      <td class="num "><h4></h4></td>
     </tr>
 </table>   
 {% endif %}
 
 
 <table class="table table-hover table-sm" >
  <thead style="position: sticky;top: 0" class="table-dark">
     <tr>
     <!--th >Logo</th-->
      <th>Name</th>
      <th>Bloomberg</th>
      <th>Borsa Italiana</th>
      <th>dividend</th>
      <th>dividendYield</th>
      <th>P/E</th>
      {% if totalRend is defined  %}
          <th>PF Yeld</th>  
      {% endif %}
      <th>Prev.Value</th>
      <th>Value</th>
      <th>Diff</th>
      <th>MinMax(day)</th>
      <th>MinMax(year)</th>
      <th>Diff year</th>
      <th>grafico</th>
      <th></th>
     </tr>
    </thead>
    <tbody>
     {% for stock in stocks %}          
      <tr>
      <!--td><img src="{{ stock.logo }}" width="50" height="50"> </td-->
      <td><a href="/stockTechnicalDetail?reuters={{stock.reuters}}">{{ stock.name }}</a></td>
      <td><a href="https://it.finance.yahoo.com/quote/{{stock.bloomberg}}?p={{stock.bloomberg}}" target="_blank" rel="noopener noreferrer">{{stock.bloomberg}}</a> </td>
      <td><a href="{{stock.borsaitaliana}}" target="_blank" rel="noopener noreferrer">{{stock.reuters}}</a> </td>
      <td>{{ stock.dividend}}</td>
      <td>{{ stock.dividendYield}}</td>
      <td>{{ stock.pe}}</td>
       {% if totalRend is defined  %}
          <td>{{ stock.rend}}</td>
      {% endif %}
      <td>{{ stock.prevValue }}</td>
      <td>{{ stock.value }}</td>
      <td>{{ stock.diff }} %</td>
      <td>{{ stock.dayRange }}</td>
      <td>{{ stock.yearRange }}</td>
      <td>{{ stock.diffYear }} %</td>
       <td><a href="{stock.grafico}" target="popup" ><img src="{{ stock.grafico }}" width="100" height="100"
           onclick="window.open('{{ stock.grafico }}','popup','width=600,height=600'); return false;" > </a> </td>
      </td>
      </tr>    
     {% endfor %}
     </tbody>
  </table>
  
  {% include "body.html" %}
 

 <script>
     $(function(){
            
         }
         );
                
 
 </script>
</body>
</html>

