<!doctype html>
<html>

<head>
   {% include "head.html" %}
       
    <style>
   
    .header {
            position: sticky;
            top:0;
        }
    .container {
             width: 100%;
            height: 600px;
            overflow: auto;
        }
    tr {
        line-height: 5px;
    }
    </style>
</head>


<body>
 {% include "navbar.html" %}
 
 {% include "technicalDetail_table.html" %}

 
  
 
 {% include "body.html" %}
 
 <script>
     $(function(){
            
         }
         );
                
 
 </script>
</body>
</html>

